header {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

img {
  width: 15%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

a:hover {
  border-bottom: 1px solid;
}
