header {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

img {
  width: 15%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--link {
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.header--link:hover {
  border-bottom: 1px solid;
}
