.collapse--card {
  width: 100%;
}

.collapse--card--title {
  background: #ff6060;
  border-radius: 5px;
  color: #f6f6f6;
  font-weight: 400;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
}

.collapse--card--text {
  background: #f6f6f6;
  color: #ff6060;
  margin: 0;
  padding: 3% 4% 2% 2%;
  line-height: 1.4em;
  font-weight: lighter;
  border-radius: 5px;
}

.button {
  height: 100%;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-collapse {
  width: 100%;
  height: 40%;
}

.button--close {
  transform: rotate(-180deg);
  transition: transform 400ms ease-out;
}

.button--open {
  transform: rotate(0deg);
  transition: transform 400ms ease-out;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  .collapse--card--title {
    height: 30px;
  }

  .collapse--card--text {
    font-size: 13px;
    padding: 3% 4% 8% 2%;
    font-weight: 300;
  }
}
