.collapse--card {
  width: 100%;
}

.collapse-title--container {
  background: #ff6060;
  border-radius: 5px;
  min-height: 40px;
  padding-right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse--card--title {
  color: #f6f6f6;
  font-weight: 400;
  padding-left: 3%;
}

.button {
  width: 4%;
  min-width: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
}

.arrow-collapse {
  width: 100%;
}

.button--close {
  transform: rotate(-180deg);
  transition: transform 400ms ease-out;
}

.button--open {
  transform: rotate(0deg);
  transition: transform 400ms ease-out;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  .collapse--card {
    width: 100%;
    margin-bottom: 20px;
  }
}
