/* Section Carousel */

/* Section Details */
.housing-details {
  width: 100%;
  height: 130px;
  margin-top: 2%;

  display: flex;
  justify-content: space-between;
}

.housing-details--info {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.housing-profil {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.housing-details--profil {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* Section Collapse */
.housing-collapse {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}

.housing-collapse--container {
  width: 45%;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  .housing-collapse {
    flex-direction: column;
  }

  .housing-collapse--container {
    width: 100%;
  }

  .collapse--card {
    margin: 10px 0;
  }
}
