/* Section Carousel */

/* Section Details */
.housing-details {
  width: 100%;
  margin: 2% 0;

  display: flex;
  justify-content: space-between;
}

.housing-details--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.housing-profil {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.housing-details--profil {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* Section Collapse */
.housing-collapse {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.housing-collapse--container {
  width: 48%;
}

.Housing-card--text {
  background: #f6f6f6;
  height: 200px;
  color: #ff6060;
  margin: 0;
  padding: 3% 4% 2% 2%;
  line-height: 1.4em;
  font-weight: 300;
  border-radius: 5px;
}

.card-li {
  margin: 5px 0;
}

/* Breakpoint 800px */
@media only screen and (max-width: 880px) {
  .housing-details {
    flex-direction: column;
  }

  .housing-details--info {
    margin-bottom: 20px;
  }

  .housing-details--profil {
    width: 100%;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    align-items: center;
  }
}

/* Responsive Mobile Device */
@media only screen and (max-width: 616px) {
  .housing-details {
    flex-direction: column;
  }

  .housing-details--info {
    margin-bottom: 20px;
  }

  .housing-details--profil {
    width: 100%;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .housing-collapse {
    flex-direction: column;
  }

  .housing-collapse--container {
    width: 100%;
  }
}
