.housing-tags--cards {
  background-color: #ff6060;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.housin-tags--container {
  display: flex;
}
