* {
  font-family: 'montserrat';
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

header,
main {
  margin: 0 4%;
}

p {
  margin: 0;
}

p,
a {
  color: #ff6060;
}

.primary-clr {
  color: #ff6060;
}

.secondary-clr {
  color: white;
}
