* {
  font-family: 'montserrat';
  box-sizing: border-box;
}

html {
  font-size: calc(12px + 0.390625vw);
}

h1 {
  font-size: calc(25px + 0.390625vw);
}

h2 {
  font-size: calc(13px + 0.390625vw);
}

a {
  font-size: calc(15px + 0.390625vw);
}

html,
body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

h1 {
  margin: 0;
  padding: 0;
}

header,
main {
  margin-left: 4%;
  margin-right: 4%;
}

p {
  margin: 0;
}

p,
a {
  color: #ff6060;
}

.primary-clr {
  color: #ff6060;
}

.secondary-clr {
  color: white;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  header,
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
}
