.card-list {
  display: flex;
  flex-direction: column;
  width: 86%;
  justify-content: center;
  margin: 30px auto;
}

.card-list--container {
  margin-bottom: 20px;
}

.about-card--text {
  background: #f6f6f6;
  color: #ff6060;
  margin: 0;
  padding: 2% 4% 2% 2%;
  line-height: 1.4em;
  font-weight: 300;
  border-radius: 5px;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  .card-list--container {
    width: 100%;
  }

  .card-list {
    width: 100%;
  }

  .about-card--text {
    padding: 4% 4% 8% 2%;
    font-weight: 300;
  }
}
