.card-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.card-list--container {
  width: 85%;
  margin: 20px auto;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  .card-list--container {
    width: 100%;
  }

  .card-list {
    width: 100%;
    margin: 0;
  }
}
