header {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

header > img {
  width: 15%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header--link {
  margin-left: 40px;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.header--link:hover {
  border-bottom: 1px solid;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  header {
    height: 80px;
    padding: 20px 0;
    margin-bottom: 1%;
  }
  header > img {
    width: 150px;
    height: 45px;
  }
  header > nav {
    width: 40%;
  }

  .header--link {
    margin-left: 10px;
    font-size: 14px;
  }
}
