.error--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error--404 {
  font-size: 200px;
  font-weight: 700;
}

.error--text {
  font-size: calc(25px + 0.390625vw);
  margin-bottom: 10%;
  text-align: center;
}

.error--link {
  font-size: calc(15px + 0.390625vw);
  margin-bottom: 5%;
}

/* Responsive Mobile Device */
@media only screen and (max-width: 600px) {
  .error--404 {
    font-size: 100px;
  }

  .error--text {
    font-size: 1.4em;
  }

  .error--link {
    font-size: 1em;
    margin-top: 15%;
  }
}
